<nav>
  <a href="/">My Profile</a>
  <a href="/dog">Dogs ready to be adopted</a>
  <a href="/adoption-requests">Adoption requests</a>
  <a href="/upload-picture">Upload a dog picture</a>
  <a href="/create-new-dog">Add a new dog</a>
  <a href="/auth/register-page">Sign up</a>
  <a href="/auth/login-page">Login</a>
  <a href="/auth/logout">Logout</a>
</nav>