<nav>
  <p>Welcome to Doggy Rescue</p>
  {{! Permanent tabs }}
  <a href="/dog">Dogs ready to be adopted</a>
  <a href="/about-us">About us</a>

  {{! Depending if there is a user logged in or not }}
  {{#if user}}
    <a href="/">My profile</a>
    <a href="/my-adoption-requests">My adoption requests</a>
    <a href="/auth/logout">Logout</a>
  {{else}}
    <a href="/auth/register-page">Sign up</a>
    <a href="/auth/login-page">Login</a>
  {{/if}}

</nav>

<nav>
  {{! Only the admin users will see these 2 options}}
  {{#if user.isAdmin}}
    <p>Admin section</p>
    <a href="/adoption-requests">*Adoption requests*</a>
    <a href="/create-new-dog">*Add a new dog*</a>
  {{/if}}
</nav>