<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/stylesheets/favicon.png">
  </head>
  <body>
    {{> navigation }}
    {{{body}}}
  </body>
</html>
