<h1>All users (only admins)</h1>
<ul>
  {{#each users}}
    <li>
      <a href="/user/{{this.id}}">{{this.firstName}}
        {{this.lastName}}
        -
        {{this.email}}</a>
    </li>
  {{/each}}
</ul>