body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-height: 92vh; /* To fix the footer at the bottom right side */
  display: flex;
  flex-direction: column;
  background-color: #1a1a2e; /* Dark Blue */
  color: #ffffff;
}

.body-content {
  flex: 1;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: #ffffff; /* Default text color */
  text-decoration: none; /* Remove default underline */
  /* Transition for smooth effect */
  transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
  color: #4eb3d3; /* Lighter blue for text color on hover */
  font-weight: bold;
  text-decoration: none;
}

div ul {
  display: flex;
  flex-direction: row; /* Elementos en fila (valor predeterminado) */
  flex-wrap: wrap; /* Los elementos flexibles se envuelven en varias líneas según sea necesario de arriba hacia abajo */
  justify-content: space-between; /* Los elementos se distribuyen uniformemente con espacio entre ellos.*/
  list-style-type: none; /* This is to avoid the bullet points */
  text-align: center;
  margin: 20px;
}

.singleDog {
  width: 280px;
  height: 280px;
  margin: 30px 5px 30px 5px; /* top right bottom left */
}

.dogImageContainer {
  max-width: 100%;
  max-height: 80%;
  overflow: hidden;
}

.dogImageContainer img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.dogInfo {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box; /* Include padding in the width calculation */
}

.singleAdoptionRequest {
  display: flex;
  gap: 100px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
}

div {
  margin-bottom: 18px;
  font-weight: bold;
}

.singleDogForUsers {
  display: flex;
  gap: 100px;
}

/* https://getcssscan.com/css-buttons-examples - by Pintura */

button {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

footer {
  text-align: right;
  font-style: italic;
}
