body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

div ul {
  display: flex;
  flex-direction: row; /* Elementos en fila (valor predeterminado) */
  flex-wrap: wrap; /* Los elementos flexibles se envuelven en varias líneas según sea necesario de arriba hacia abajo */
  margin: 25px;
  justify-content: space-around; /* Los elementos se distribuyen uniformemente con espacio entre ellos.*/
  list-style-type: none; /* This is to avoid the bullet points */
  text-align: center;
}

.singleDog {
  border-radius: 16px;
  margin: 20px;
  padding: 10px;
  border: 1px white;
  margin-right: 20px;
}

.singleDog:hover {
  font-weight: bold;
  border: 1px black solid;
}

.singleAdoptionRequest {
  display: flex;
  gap: 100px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
}

div {
  margin-bottom: 18px;
  font-weight: bold;
}
