body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

div ul {
  display: flex;
  flex-wrap: wrap;
  margin: 55px;
  justify-content: center;
  list-style-type: none; /* This is to avoid the bullet points */
  text-align: center;
}

.singleDog {
  border-radius: 16px;
  margin: 20px;
  padding: 10px;
  border: 1px white;
  margin-right: 20px;
}

.singleDog:hover {
  font-weight: bold;
}

.singleAdoptionRequest {
  display: flex;
  gap: 100px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
}

div {
  margin-bottom: 18px;
  font-weight: bold;
}
